---
layout: base
heroImageCount: 23
---

<header class="hero">
  <div class="hero-content">
    <div style="display: flex; flex-direction:column; align-items:center;">
        <img id="heroimage" src="" style="height: 200px; width: 200px; border-radius: 10px"/>
        <h4 style="text-align:center; margin-top:1rem;">A blog about robotics, geography, programming, and parenting.</h4>
    </div>

    {% if site.socialLinks %}
      <ul class="hero__social-links">
        {% for item in site.socialLinks %}
          {% set externalAttribute = '' %}

          {% if item.external %}
            {% set externalAttribute = 'target="_blank" rel="noopener noreferrer"' %}
          {% endif %}

          <li>
            <a href="{{ item.url | url }}" {{ externalAttribute | safe }}>{{ item.text }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>

</header>

<section class="post-list__wrapper">
  {% set postslist = collections.posts | head(-5) %}
  {% include "posts-list.njk" %}
</section>
<script>
    const max = {{heroImageCount}}
    const n = Math.floor(Math.random() * max);
    document.querySelector("#heroimage").src = `/images/heroimages/hero-${n}.jpg`;
</script>
